* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-background-color: rgb(244, 247, 250);
  --white-container-color: rgb(255, 255, 255);
  --red-accent-color: rgb(235, 68, 54);
  --black-heading-color: rgb(15, 23, 42);
  --light-grey-description-color: rgb(148, 163, 184);
}

body {
  background-color: var(--main-background-color);
  font-family: var(--font-montserrat), sans-serif;
  color: var(--black-heading-color);
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 1200px) {
  .large-screen-max-width {
    max-width: 85%;
    margin: 0 auto;
  }
}