.contact-form-details-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    margin: 8rem auto;
}

@media (max-width: 1200px) {
    .contact-form-details-container {
        padding: 0 clamp(1rem, 5vw, 4rem);
    }
}

@media (max-width: 900px) {
    .contact-form-details-container {
        flex-direction: column;
        margin: 0rem auto;
    }
}