.contact-details-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 1.5rem;
}

.contact-detail-item {
    background-color: var(--white-container-color);
    border: 1px solid #eaeaea;
    border-radius: 24px;
    padding: 1.5rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.cd-item-text {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.cd-item-text-title {
    color: var(--red-accent-color);
    color: black;
    font-weight: bold;
}

.cd-item-text-description {
    font-size: 0.9rem;
}

.cd-item-text-link {
    color: var(--red-accent-color);
    font-weight: bold;
    cursor: pointer;
    font-size: 0.95rem;
}

.cd-icon {
    height: 45px;
    width: 45px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 68, 54, 0.1);
    ;
}

.cd-icon svg {
    color: var(--red-accent-color);
}

@media (max-width: 900px) {
    .contact-details-container {
        width: 100%;
    }
}